---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.bg-cover{
  background-size:cover;
}
.bg-contain{
  background-size:contain;
}
.bg-center{
  background-position:center;
}
.bg-repeat{
  background-repeat:repeat;
}
.bg-repeat-x{
  background-repeat:repeat-x;
}
.bg-repeat-y{
  background-repeat:repeat-y;
}
.bg-repeat-none{
  background-repeat:no-repeat;
}

#LogoContainer{
  width:6rem;
  height:6rem;
  @include breakpoint(s){
    width:7.5rem;
    height:7.5rem;
  }
  @include breakpoint(l){
    width:9rem;
    height:9rem;
  }
}
#LogoType{
  font-size:2rem;
  line-height:1;
  margin-top:2.75rem;
  margin-bottom:0;
  @include breakpoint(s){
    font-size:4rem;
    margin-top:2.5rem;
    margin-bottom:0;
  }
  @include breakpoint(l){
    font-size:6rem;
    margin-top:2.25rem;
    margin-bottom:0;
  }
}
.type-grow-2{
  font-size:4rem;
  line-height:1.5;
  //margin-top:2.75rem;
  margin-bottom:0;
  @include breakpoint(s){
    font-size:6rem;
    //margin-top:2.5rem;
    margin-bottom:0;
  }
  @include breakpoint(l){
    font-size:9rem;
    //margin-top:2.75rem;
    margin-bottom:0;
  }
}

.site-nav a{
}

.blueprint{
  background-image: linear-gradient(to right, rgba(255,255,255,.05) 0, rgba(255,255,255,0)1.5px);
  background-repeat: repeat;
  background-size: calc(100%/6) 12rem;
}

.visible-grid{
  z-index:-5;
  //border:1px solid rgba(0,0,0,.1);
  background-image: linear-gradient(to right, rgba(0,0,255,.08) 0, rgba(255,255,255,0)1.5px);

  background-repeat: repeat-x;
  background-size: calc(100%/6) 100%;
}
span.kern{
  letter-spacing:.02em;
}
.slider{
  background-color:$white;
}
#Logo{
  display:block;
  z-index:5;
  width:100%;
  .wheel{
    animation: spinningWheel 10s linear forwards infinite;
    transform-origin: center;
  }
}

@-webkit-keyframes spinningWheel {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@keyframes spinningWheel {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}

body{
  //background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(255,255,255,0)1px);
  //background-repeat: repeat-y;;
  //background-size:100% 24px;
  //background-color:$white;
  //color: $black70;

}
html {
-webkit-font-smoothing: antialiased;
}


// .bg-angled-line{
//   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2NkQAL/////zwjjgzkgABKAcUBsRmQOSAAAIAYQASyLe4sAAAAASUVORK5CYII=) repeat;
// }
.bg-dot-grid-red{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQoU2P8z8DwnwEPYBwBCv7/ZwAAIg4R9/GgL8AAAAAASUVORK5CYII=)
  repeat;
}
.bg-dot-grid-navy{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGElEQVQoU2MUVg/7z4AHMA5/BW9urGQAAB5DDu5Qo1YTAAAAAElFTkSuQmCC)
  repeat;
}



@-webkit-keyframes story-section {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes story-section {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.story-section{
  color:$navy;
  margin-bottom:1rem;
  max-width:100%;
  -webkit-animation-name: story-section;
          animation-name: story-section;
  &:before{
    border-top: 2px solid $red;
    color:$red;
    content:' ';
    display:block;
    width:3rem;
    margin-left:-2rem;
    margin-right:1rem;
    padding-top:1.5rem;

  }
}

.story-number{
  line-height:1.5;
  font-size:8rem;
  color:$red;
  margin-left:-.03em;
  margin-bottom:0;
  //text-shadow: -2px 2px 0 $white, 2px -2px 0 $white, -4px 4px 0 $blue;
  //text-shadow: 0px 0px 24px $navy, 0 0 100px $red;
  //text-shadow: 1px 1px 1px $navy, 2px 2px 1px $navy, 3px 3px 1px $navy, 4px 4px 0 $navy;
  @include breakpoint(s){
    font-size:12rem;
  }
  @include breakpoint(m){
    font-size:16rem;
  }
  @include breakpoint(l){
    font-size:20rem;
  }
}
.story-metric{
  margin-top:-1rem;
  color:$navy;
  //margin:0;
  line-height:1;
  @include breakpoint(s){
    margin-top:-2rem;
    font-size:2rem;
  }
  @include breakpoint(m){
    font-size:3rem;
  }
  @include breakpoint(l){
    font-size:4rem;
  }
}
.rotate-n45{
  transform:rotate(-45deg) translateX(2rem) translateY(-.5rem);
}
.rotate-n60{
  transform:rotate(-60deg);
}
