---
layout: default
title: Bike &amp; Build 2016 Annual Report
---

<section id="" class=" relative z1 px-l py-xxxl text-center bg-navy white">
  <h1 class="h1-vw-20 condensed">2016</h1>
  <h1 class="h1-vw-5 caps bold">Bike &amp; Build</h1>
</section>
<h1>In 2016</h1>

<div id="story" class="relative z1 max-width-xxl mx-auto border-left border-red">
  <section id="" class="cf px-l py-xl">
    <div class="col col-12 m-col-8">
      <h5 class="story-section caps bold">A Letter</h5>
      {% include_relative content/01_message.html %}
    </div>
    <section id="" class="right col-12 m-col-8 l-col-4 red border-thick">
      {% include_relative content/02_background.html %}
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12 l-col-6">
      <h5 class="story-section caps bold">We welcomed</h5>
      <h2 class="story-number condensed">352</h2>
      <h3 class="story-metric">Rider-Volunteers</h3>
      <div class="max-width-s">
        <p>More information.</p>
      </div>

    </div>
    <section id="" class="relative red border-thick right col-12 m-col-8 l-col-6 my-xxl">
      <!-- <div class="absolute top-0 left-0 bg-red white px-s">
          <h2 class="h6 caps bold">Rider Spotlights</h2>
      </div> -->
      {% include_relative content/14_riders.html %}
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy left col-12 l-col-8">
      <h5 class="story-section caps bold">They Averaged</h5>
      <h2 class="story-number condensed">$5,078</h2>
      <h3 class="story-metric">Fundraising Total Per Rider</h3>
      <div class="max-width-s">
        <p></p>
      </div>
    </div>
    <section id="" class="right col-12 m-col-8 l-col-4 red border-thick my-xxl">
      {% include_relative content/06_fundraisers.html %}
    </section>

  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12 l-col-8">
      <h5 class="story-section caps bold">We Awarded</h5>
      <h2 class="story-number condensed">5</h2>
      <h3 class="story-metric">Scholarships</h3>
      <div class="max-width-s">
        <p>In 2016, Bike & Build continued to grow its Scholarship Program, offering 3 full cross-country scholarships, 1 full Drift scholarship, and 1 partial cross-country scholarship.</p>
      </div>
    </div>
    <section id="" class="red border-thick right col-12 m-col-6 l-col-4">
      {% include_relative content/08_scholarships.html %}
    </section>
  </section>


  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy">
      <h5 class="story-section caps bold text-center">Our Riders Rode</h5>
      <h2 class="story-number condensed text-center">987,259</h2>
      <h3 class="story-metric text-center">Total Miles</h3>
      <div class="max-width-s mx-auto">
        <p> In 2016, we once again ran 8 cross-country and 2 regional Drift trips. Check out where we rode this past summer! </p>
      </div>
    </div>
    <section id="" class="mx-auto max-width-l">
      {% include_relative content/04_map.html %}
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col-12 l-col-8 left">
      <h5 class="story-section caps bold">Our Riders Volunteered</h5>
      <div class="cf">
        <div class="">
          <h2 class="story-number condensed"> 129</h2>
          <h3 class="story-metric">Build Days</h3>
        </div>
        <div class="">
          <h2 class="story-number condensed"> 25,934</h2>
          <h3 class="story-metric">Build Hours</h3>
        </div>
      </div>
    </div>
    <section id="" class=" col-12 m-col-6 l-col-4 right">
      <div class="circle overflow-hidden max-width-m mx-auto my-xxl">
        <img src="{{site.baseurl}}/img/content/hours.jpg" alt="Build Days">
      </div>
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy ">
      <h5 class="story-section caps bold">They Granted</h5>
      <h2 class="story-number condensed">$415,908</h2>
      <h3 class="story-metric">To Affordable Housing Organizations</h3>
      <div class="max-width-s">
        <h5 class="caps">Through 4 Grant Programs</h5>
        <ul>
          <li> Competitive Grant Program </li>
          <li> Rider $500 Grant</li>
          <li> On The Road Donation</li>
          <li> Pre-Arranged Contributions</li>
        </ul>
      </div>
    </div>
    <div class="col-12 m-col-8 l-col-4 mx-auto">
      <div class="red border-thick p-l text-center my-xxl">
        <h4 class="h3 bold m-0"><a href="" class="red"><span class="red">Apply for a Bike &amp; Build Grant &rarr;</span></a></h4>
      </div>
    </div>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12 l-col-6">
      <h5 class="story-section caps bold">Our Grants Helped</h5>
      <h2 class="story-number condensed">408</h2>
      <h3 class="story-metric">Affordable Housing Organizations</h3>
      <div class="max-width-s">
        <p></p>
      </div>
    </div>
    <section id="" class="red border-thick right col-12 m-col-8 l-col-6 my-xxl">
      {% include_relative content/12_grantees.html %}
    </section>
  </section>


  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12 m-col-6 l-col-8">
      <h5 class="story-section caps bold">We Hired</h5>
      <h2 class="story-number condensed">1</h2>
      <h3 class="story-metric">New Executive Director</h3>
      <div class="max-width-s">
        <p>Bike & Build enters 2017 with a new Executive Director for the organization - meet Ron Stepanek! Ron brings more than 20 years of executive leadership experience in both nonprofit management and the outdoor sports industry. He has served as Executive Director for many organizations where he excelled at growing smaller orgs in impact and fundraising efforts, as well as guiding them through transitional periods. Ron also spent a significant amount of time within the PGA of America organization where he had extensive leadership responsibilities over local, regional, and national initiatives.</p>
      </div>
    </div>
    <section id="" class="p-l red border-thick right col-12 m-col-6 l-col-4 my-xxl">
      {% include_relative content/07_news.html %}
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12 l-col-6">
      <h5 class="story-section caps bold">We Maintained</h5>
      <h2 class="story-number condensed">100%</h2>
      <h3 class="story-metric">Focus on Safety</h3>
      <div class="max-width-s">
        <p>Safety remains the number one focus of Bike &amp; Build programming. The bullets below outline general amendments and additions to our safety program developed after engaging external consultants to review our current routes and route processes, discussing past practices and policies with other young-adult driven, nonprofit organizations, and reviewing feedback from our alumni and others close to B&B. We will continue to hold our riders to the highest safety standards while advocating for shared roads. For more on our safety program, please visit our website’s <a href="https://bikeandbuild.org/prospective-riders/safety/">‘Safety’ page</a>.</p>
      </div>
    </div>
    <section id="" class="col col-12 l-col-6 navy border-thick my-xxl">
      {% include_relative content/09_safety.html %}
    </section>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="cf">
      <div class="story-node navy col col-12 l-col-6">
        <h5 class="story-section caps bold">We Graduated</h5>
        <h2 class="story-number condensed">3,300</h2>
        <h3 class="story-metric">Alumni</h3>
        <div class="col col-12 m-col-8">
          <p>Our riders’ commitment to service and civic engagement does not end when they reach the Pacific Ocean. After Bike & Build, the majority of young adults in our program continue in volunteer efforts in their own communities and around the world. </p>
          <p>In addition to the work our alums do in their communities, many continue to stay involved through the efforts of the Bike &amp; Build Alumni Council. In 2016, the Council oversaw a number of impact initiatives from raising funds for the B&B Scholarship to organizing alumni volunteer days in communities around the country to distributing $6,000 in emergency grant funds to Habitat for Humanity of Jacksonville and the St. Bernard Project in New Orleans for disaster relief in the wake of Hurricane Matthew and severe flooding in the south. They also helped spearhead new advocacy initiatives that included reaching out to state and national bike advocacy organizations, as well as encouraging participation in the national <a href="https://www.itcanwait.com/">It Can Wait</a> campaign to raise awareness for and help bring about an end to distracted driving. Learn more about the <a href="https://bikeandbuild.org/alumni/alumni-council/">Bike & Build Alumni Council’s</a> efforts!
          </p>
        </div>
      </div>
      <section id="" class="col-12 m-col-8 l-col-6 right red border-thick my-xxl">
        {% include_relative content/13_alumni.html %}
      </section>
    </div>
  </section>

  <section id="" class="cf px-l py-xl min-height-100">
    <div class="story-node navy col col-12">
      <h5 class="story-section caps bold">Entering 2017</h5>
      <div class="cf py-xl text-center">
        <div class="col col-12 s-col-6 m-col-3">
          <h2 class="h1 type-grow red condensed">14</h2>
          <h3 class="">Years on the Road</h3>
        </div>
        <div class="col col-12 s-col-6 m-col-3">
          <h2 class="h1 type-grow red condensed">10.5 M</h2>
          <h3 class="">Miles Pedaled</h3>
        </div>
        <div class="col col-12 s-col-6 m-col-3">
          <h2 class="h1 type-grow red condensed">225,000</h2>
          <h3 class="">Build Hours</h3>
        </div>
        <div class="col col-12 s-col-6 m-col-3">
          <h2 class="h1 type-grow red condensed">$6.2M</h2>
          <h3 class="">Donated to Affordable Housing</h3>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="financials" class="relative z1 max-width-xxl mx-auto px-l py-xl">
  {% include_relative content/15_financials.html %}
</section>
<section id="" class="relative z1 px-l py-xl">
  {% include_relative content/16_forward.html %}
</section>
